.RData
*/.RData
*/*/.RData
*/*/*/.RData
*/*/*/*/.RData
.Rhistory
*/.Rhistory
*/*/.Rhistory
*/*/*/.Rhistory
*/*/*/*/.Rhistory
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
._*
*/._*
*/*/._*
*/*/*/._*
*/*/*/*/._*
.fuse*
*/.fuse*
*/*/.fuse*
*/*/*/.fuse*
*/*/*/*/.fuse*
.nfs*
*/.nfs*
*/*/.nfs*
*/*/*/.nfs*
*/*/*/*/.nfs*
*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
*.sh.*
*.out
.java
.cache
.fontconfig
.snakemake
data/IsingGen
output
report
logs
benchmarks
.conda